/*  SPA Style V 1.0.0 / Date: 22 June 2015 / Author: Umar Abbas */
/* Base Color #29afe2*/
body{background:url('../img/umar_bg.png') no-repeat center center fixed; background-size:cover; }
#wrap{position: absolute; top: 0px; left: 0px;  width: 100%; height: 100%;  background-image: url(../img/grid.png);}
.center{ margin: 0 auto; position: relative; max-width: 1400px; padding-left: 24px; padding-right: 24px;}
.clear{clear:both;}
#home{ height:800px; border-bottom:1px solid #FFF;}
.name-txt-center{ margin-top:400px }
.name-txt-center div img{ width:400px}
.name-left{ float: left; width:50%; text-align:right;}
.name-right{ float:right; width:50%; }
.arrowbtn{ border-radius: 50%; margin:0 auto; cursor: pointer;  width: 74px; height: 74px; border: 1px solid #29afe2; background: rgba(43,176,224,0.5); margin-top:90px; }
.arrowbtn i { line-height:74px; color:#FFF; font-size:50px; margin-left:20px}
.links {text-align:center; color:#FFF; font-size:20px; margin-top:30px}
/*Big Screen*/
@media (min-width: 1024px)
 {


 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) 
{

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) 
{


} 

/* Landscape phones and down */
@media (max-width: 480px) 
{
#home{ height:500px; border-bottom:1px solid #FFF;}
.name-txt-center{ margin-top:200px }
.name-txt-center div img{ width:100px}
.name-left{ float: left; width:50%; text-align:right;}
.name-right{ float:right; width:50%; }
.arrowbtn{ border-radius: 50%; margin:0 auto; cursor: pointer;  width: 74px; height: 74px; border: 1px solid #29afe2; background: rgba(43,176,224,0.5); margin-top:90px; }
.arrowbtn i { line-height:74px; color:#FFF; font-size:50px; margin-left:20px}
.links {text-align:center; color:#FFF; font-size:14px; margin-top:30px}

}